@tailwind base;
@tailwind components;
@tailwind utilities;
.rectangle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid;
  filter: blur(4rem);
  position: absolute;
  right: 0%; /* Adjust the right value */
  top: 5%; /* Position it vertically centered */
  transform: translate(50%, -50%); /* Ensure it's positioned correctly */
  background: #d9d9d952;
  overflow-x: hidden !important;
}

.test {
  overflow: scroll !important;
}

.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.hide {
  display: none !important;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
